<template>
  <div class="text-center" style="flex-grow: 1">
    <v-menu :location="'bottom'"
        open-on-hover
    >
      <template v-slot:activator="{ props }">
        <v-btn
            class="text-white"
            variant="plain"
            rounded="0"
            v-bind="props"
        >
          {{ header }}
        </v-btn>
      </template>

      <v-list>
        <v-list-item
            v-for="(item, index) in items"
            :key="index"
        >
          <v-list-item-title>{{ item.text }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>
<script setup>
const props = defineProps({
  header: {
    type: String
  },
  items: {
    type: Array[{text: String, link: String}]
  }
})
const header = props.header
const items = props.items
</script>