<script setup lang="ts">

</script>

<template>
  <footer role="contentinfo" class="site-footer">
    <div class="news-wrapper">
      <div class="news-inner">
        <div class="news-name">Новости <a href="/novosti">все новости</a></div>
        <article class="news-block">
          <time class="news-date" datetime="2023-08-22 14:03:41">22.08.2023</time>
          <div class="news-title"><a href="/yuridicheskij-autsorsing-polza-ili-lishnie-traty">Юридический аутсорсинг — польза или лишние траты?</a></div>
          <div class="news-note">      Юридический аутсорсинг стал активно обсуждаемой темой в современном бизнесе. Это практика, при которой компании решают передать определенные задачи и функции правового характера внешнему юридическому партнеру. Такой подход имеет свои плюсы и минусы, которые следует внимательно рассмотреть перед принятием решения о применении данной стратегии.      </div>
        </article>
        <article class="news-block">
          <time class="news-date" datetime="2023-08-15 18:02:25">15.08.2023</time>
          <div class="news-title"><a href="/dopolnitelnye-raboty-po-dogovoru-stroitelnogo-podryada-kto-platit">Дополнительные работы по договору строительного подряда: кто платит?</a></div>
          <div class="news-note">       В сфере строительства вопросы, связанные с оплатой дополнительных работ, возникают на регулярной основе. В статье мы рассмотрим ключевые аспекты, связанные с определением, уведомлением и согласованием допработ, а также осветим нюансы, о которых следует помнить сторонам сделки.       </div>
        </article>
        <div class="clear"></div>
      </div>
    </div>

    <div class="contacts-block-wrapper">
      <div class="contacts-block">
        <div class="left-part">
          <div class="title">Контакты</div>
          <div class="bot-address"><div class="icon"></div><div class="bot-address-in">Адрес: <a href="https://yandex.ru/maps/org/urnefp/1171538226/" target="_blank">г. Москва, ул. Милашенкова, д. 10, оф. 96, вход со стороны улицы</a><br>
            (метро Фонвизинская, Тимирязевская, Петровско-Разумовская)</div></div>
          <div class="bot-email"><div class="icon"></div>E-Mail: 							<a href="mailto:6391563@mail.ru">6391563@mail.ru</a>
          </div>
          <div class="bot-phones">
            <div class="icon"></div>
            <div class="bot-phones-in">
              <span class="bot-phone-span">Тел:</span>
              <div class="bot-phones-inset">
                <div><a href="tel:+7 (495) 63-915-63">+7 (495) 63-915-63</a></div>
                <div><a href="tel:+7 (925) 838-47-97">+7 (925) 838-47-97</a></div>
              </div>
            </div>
          </div>
          <div class="bot-social">
            <a href="https://ok.ru/urcompany" target="_blank">
              <img src="/thumb/2/MdWmVUk5NxRQMUxYglCqXw/40r40/d/fgs16_ok-cl-bg.svg" alt="">
            </a>
            <a href="https://vk.com/urnefp" target="_blank">
              <img src="/thumb/2/F4-mnQxELYKjF8RlvipJTA/40r40/d/fgs16_vk-cl-bg.svg" alt="">
            </a>
            <a href="https://t.me/urnefp" target="_blank">
              <img src="/thumb/2/ye2xOFTBLW9iNkIPexK6cQ/40r40/d/fgs16_telegram-cl-bg.svg" alt="">
            </a>
            <a href="https://wa.me/message/P2RN3KRMOR62O1" target="_blank">
              <img src="/thumb/2/F8DPe1p3dj43p2JIlMuPUA/40r40/d/fgs16_whatsapp-cl-bg.svg" alt="">
            </a>
            <a href="https://dzen.ru/urnefp" target="_blank">
              <img src="/thumb/2/DLFkudqFP_X8SxyptF9taw/40r40/d/fgs16_yandexzen-cl-bg.svg" alt="">
            </a>
          </div>
        </div>
        <div class="form-wrapper">
          <div class="form-title">Записаться на консультацию</div>
          <div class="form-bot"><form action="" class="gr-form -visor-no-click" method="post"><div class="form-left-container"><div class="gr-field"><div class="gr-value"><input type="text" placeholder="Имя" size="30" maxlength="100" value="" name="d[0]"></div></div><div class="gr-field"><div class="gr-value"><input type="text" placeholder="Телефон" size="30" maxlength="100" value="" name="d[1]"></div></div></div><div class="form-right-container"><div class="gr-field"><div class="gr-value"><textarea placeholder="Ваш комментарий" cols="43" rows="3" name="d[3]"></textarea></div></div><div class="gr-field"><button class="gr-button" type="submit">Записаться</button></div></div><div class="clear"></div><textarea name="g-recaptcha-response" style="display: none !important;"></textarea></form></div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer">
        <div class="site-name">Copyright  © 2016 - 2024 </div>
        <div class="right">
          <div class="site-copyright"><span style="font-size:14px;" class="copyright"><a href="https://megagroup.ru/" target="_blank" title="Megagroup.ru" class="copyright">Megagroup.ru</a></span></div>
          <div class="site-counters"><!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=45012541&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/45012541/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="45012541" data-lang="ru"></a>
            <!-- /Yandex.Metrika informer -->

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
              (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
                m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
              (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

              ym(45012541, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true,
                trackHash:true
              });
            </script>
            <!-- /Yandex.Metrika counter -->

            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-73531637-2"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'UA-73531637-2');
            </script>

            <meta name="zen-verification" content="LANqSa3YpDmrqW4DcX8qMEO6vSyOwVgABmzoGC99Oma2lovPS6VY6Ms2SY5YT7Lc">
            <!--__INFO2024-06-30 01:45:25INFO__-->
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </footer>
</template>

<style scoped>

</style>