<script setup>

</script>

<template>
  <header role="banner" class="site-header">
    <div class="header-inner">
      <div class="logo-block">
        <a class="site-logo" href="http://urnefp.ru">URNEFP</a>
        <div class="clear"></div>
        <div class="site-activity">C 1990-х годов компания URNEFP ведет юридическую практику и имеет заслуженный опыт в
          решении сложных процессов
        </div>
      </div>

      <div class="">
        <span style="display:inline-block;margin-bottom:2px;">Адрес:</span>
        <div class="top-addr">г. Москва, ул.
          Милашенкова, д. 10, оф. 96, вход со стороны улицы<br>
          (метро Фонвизинская, Тимирязевская, Петровско-Разумовская)
        </div>
      </div>


      <div class="header-phone" style="margin-top:34px;">
        <span style="font:14px/1 'roboto-r', arial;display:inline-block;margin-bottom:4px;">Телефон:</span>
        <div class="top-phones">
          <div><a href="tel:+7 (495) 63-915-63">+7 (495) 133-15-23</a></div>
          <div><a href="tel:+7 (925) 838-47-97">+7 (925) 123-42-97</a></div>
        </div>
        <div class="icon"></div>
      </div>
    </div>
    <nav>
      <v-tabs bg-color="light-green-lighten-1" color="white" align-tabs="center">
        <!--
      * href="/chastnym-litsam" Гражданам
      - Консультация
      - Составление документов
      - Защита прав потребителя
      - Наследственные споры
      * href="/uslugi-predprinimatelyam" Предпринимателям
        - Юридическая консультация
        - Представление интересов в суде
        - Составление договоров
        - Абонентское юридическое обслуживание
      * href="/registr-org" Услуги регистрации и реорганизации
        - Регистрация коммерческих организаций
        - Регистрация ИП
        - Регистрация некоммерческих организаций
        - Внесение изменений и дополнений в Устав
        -->
        <v-tab>
          <Dropdown :header="'УСЛУГИ'"
                    :items="[{text:'Гражданам', link:'/chastnym-litsam'}, {text:'Предпринимателям', link:'/predprinimatel'},
                              {text: 'Регистрация и реорганизация', link:'/registr-org'}, {text:'Промышленным предприятиям', link:'/promyshl-pred'}]"/>
        </v-tab>
        <v-tab>
          <Dropdown :header="'О КОМПАНИИ'"
                    :items="[{text:'История компании',link:'/rojdenie'}, {text:'Деятельность', link:'/deyatelnost'}, {text:'Вакансии',link: '/vakansii'}]"/>
        </v-tab>
        <v-tab>
          <Dropdown :header="'ЦЕНЫ'"
                    :items="[{text: 'Прайс-лист', link: '/price_list'}, {text: 'Пакеты услуг', link: 'complex'},
                            {text: 'Приём платежей для онлайн услуг', link: '/online-uslugi'}]"
          />
        </v-tab>
        <v-tab>
          <!-- <a href="/kontakty">КОНТАКТЫ</a> -->
          <a class="text-white">КОНТАКТЫ</a>
        </v-tab>
      </v-tabs>
    </nav>
    <nav class="menu-top-wrapper">
      <ul class="s3-menu-allin s3-menu-allin-popup s3-menu-allin-default">
        <li class="s3-menu-allin-has"><a href="/o-kompanii">О КОМПАНИИ</a>
          <ul class="level-2" style="">
            <li><a href="/rojdenie">История компании</a></li>
            <li><a href="/deyatelnost">Деятельность</a></li>
            <li><a href="/vakansii">Вакансии</a></li>
          </ul>
        </li>
        <li class="s3-menu-allin-has"><a href="/uslugi">НАШИ УСЛУГИ</a>
          <ul class="level-2" style="">
            <li class="s3-menu-allin-has"><a href="/chastnym-litsam">Гражданам</a>
              <ul class="level-3" style="">
                <li><a href="http://urnefp.ru/zapis-na-konsultaciu" target="_blank">Консультация</a></li>
                <li><a href="/sostavlenie-documentov">Составление документов</a></li>
                <li><a href="/pravapotrebitelya">Защита прав потребителя</a></li>
                <li><a href="/nasledstvo">Наследственные споры</a></li>
              </ul>
            </li>
            <li class="s3-menu-allin-has"><a href="/uslugi-predprinimatelyam">Предпринимателям</a>
              <ul class="level-3" style="">
                <li><a href="http://urnefp.ru/zapis-na-konsultaciu" target="_blank">Юридическая консультация</a></li>
                <li><a href="/predstavlenieadvokat">Представление интересов в суде</a></li>
                <li><a href="/dogovory-sostavlenie">Составление договоров</a></li>
                <li><a href="/ur-kompleks">Абонентское юридическое обслуживание</a></li>
              </ul>
            </li>
            <li class="s3-menu-allin-has"><a href="/registration">Услуги регистрации и реорганизации</a>
              <ul class="level-3" style="">
                <li><a href="/reg-commerce">Регистрация коммерческих организаций</a></li>
                <li><a href="/ip">Регистрация ИП</a></li>
                <li><a href="/reg_nekom">Регистрация некоммерческих организаций</a></li>
                <li><a href="/ustav">Внесение изменений и дополнений в Устав</a></li>
              </ul>
            </li>
            <li><a href="/urpromhelp">Услуги для промышленных предприятий</a></li>
          </ul>
        </li>
        <li class="s3-menu-allin-has"><a href="/price_list">ЦЕНЫ</a>
          <ul class="level-2" style="">
            <li><a href="http://urnefp.ru/price_list">Прайс-лист</a></li>
            <li><a href="http://urnefp.ru/ur-kompleks">Пакеты услуг</a></li>
            <li><a href="/priyem-platezhej-dlya-onlajn-uslug">Приём платежей для онлайн услуг</a></li>
          </ul>
        </li>
        <li><a href="/kontakty">КОНТАКТЫ</a></li>
        <li><a href="/user">Регистрация</a></li>
      </ul>
    </nav>
  </header>
</template>

<style scoped>

</style>