<script setup lang="ts">

</script>

<template>
  <div class="top-slider-wrapper">
    <div class="slider-top owl-carousel owl-theme owl-loaded">
      <div class="owl-stage-outer">
        <div class="owl-stage"
             style="transform: translate3d(-1880px, 0px, 0px); transition: all 0s ease 0s; width: 8460px;">
          <!--<div class="owl-item cloned" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/ygbW2TD1qyAliw0LLPdlZg/940r280/d/3.png"></div>
          </div>
          <div class="owl-item cloned" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/3dDYE0D_47TbEQJNhqMsuA/940r280/d/2.png"></div>
          </div>
          <div class="owl-item active" style="width: 940px; margin-right: 0px;">
            <div><img
                src="/thumb/2/ZUV9C0kYLqMwEf-TZ9eo1w/940r280/d/yuridicheskiye_uslugi_dlya_biznesa_zashchita_ot_proverok_arbitrazhnyye_dela_nadezhnyy_yurist_2.png">
            </div>
          </div>
          <div class="owl-item" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/wyUM2Q1_kf8cAi2E_Ad41g/940r280/d/1.png"></div>
          </div>
          <div class="owl-item" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/7xAqmqcqJRDM5yGzwzA4OA/940r280/d/4.png"></div>
          </div>
          <div class="owl-item" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/ygbW2TD1qyAliw0LLPdlZg/940r280/d/3.png"></div>
          </div>
          <div class="owl-item" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/3dDYE0D_47TbEQJNhqMsuA/940r280/d/2.png"></div>
          </div>
          <div class="owl-item cloned" style="width: 940px; margin-right: 0px;">
            <div><img
                src="/thumb/2/ZUV9C0kYLqMwEf-TZ9eo1w/940r280/d/yuridicheskiye_uslugi_dlya_biznesa_zashchita_ot_proverok_arbitrazhnyye_dela_nadezhnyy_yurist_2.png">
            </div>
          </div>
          <div class="owl-item cloned" style="width: 940px; margin-right: 0px;">
            <div><img src="/thumb/2/wyUM2Q1_kf8cAi2E_Ad41g/940r280/d/1.png"></div>
          </div>
        </div>
        -->
        </div>
        <div class="owl-controls">
          <div class="owl-nav">
            <div class="owl-prev" style="display: none;">prev</div>
            <div class="owl-next" style="display: none;">next</div>
          </div>
          <div class="owl-dots" style="">
            <div class="owl-dot active"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
            <div class="owl-dot"><span></span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="services-block-wrapper">
      <div class="services-block">
        <div class="maintitle">Услуги</div>
        <div class="blocks-wrapper">
          <div class="block">
            <div class="title"><p>Судебное</p>

              <p>представительство</p></div>
            <div class="price"><span>от</span> 30 000 рублей</div>
            <a href="/predstavlenieadvokat" class="link">подробнее</a>
          </div>

          <div class="block">
            <div class="title"><p>Регистрация</p>
              <p>организаций</p></div>
            <div class="price"><span>от</span> 5 000 рублей</div>
            <a href="/registration" class="link">подробнее</a>
          </div>

          <div class="block">
            <div class="title"><p>Ликвидация</p>

              <p>предприятий</p></div>
            <div class="price"><span>от</span> 35 000 рублей</div>
            <a href="/closeitcomponyinrussia" class="link">подробнее</a>
          </div>

          <div class="block">
            <div class="title"><p>АРБИТРАЖ</p></div>
            <div class="price"><span>от</span> 35 000 рублей</div>
            <a href="/arbitraj" class="link">подробнее</a>
          </div>

          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="underslider-second-block">
      <div class="second-block-inner">
        <h1>Приветствуем на правовом портале юридической компании URNEFP</h1>
        <p><span style="font-size:13pt;"><em><span>Единственное и постоянное направление работы компании – оказание юридических услуг клиентам всех категорий. К нам обращаются <a
            href="/chastnym-litsam">граждане</a>, <a href="/uslugi-predprinimatelyam">индивидуальные предприниматели, владельцы среднего и крупного бизнеса</a>.</span></em></span>
        </p>

        <p><span style="font-size:13pt;"><em><span data-mega-font-name="georgia"
        >Мы гордимся образцовой репутацией, коллективом высококлассных специалистов в области права и консалтинга, доверием наших заказчиков и неизменно успешными результатами деятельности на протяжении двадцати пяти лет!</span></em></span>
        </p>

        <p><span style="font-size:13pt;"><em><span data-mega-font-name="georgia"
        >Юридическая компания ЗАО "Управление по развитию новых экономических форм производства" с 1990 г. ведет юридическую практику и имеет заслуженный опыт в решении как частных, так и бизнес-задач.&nbsp;Еще один приятный бонус – <a
            href="/spravka">низкие цены</a>, наши услуги стоят на 15-20% ниже, чем в среднем по рынку. Этого удалось добиться благодаря большому количеству заказов и оперативности юристов.</span></em></span>
        </p>

        <p><span style="font-size:13pt;"><em><span data-mega-font-name="georgia"
        >Мы неизменны своим принципам и&nbsp;преимуществам.</span></em></span>
        </p>

        <hr>
        <h2><span style="font-size:18pt;"><span>Наши преимущества:</span></span>
        </h2>
        <p style="text-align: left;">
            <span>
              <Icon name="material-symbols:bookmark-check"/>
            </span>
          <span
              style="text-decoration:underline;">Практический опыт с 1990 года</span>
          <span
              style="font-size:14pt;"> – четверть века работы компании на рынке юридических услуг.
            </span>
        </p>

        <p>
            <span style="font-size:14pt;"><Icon name="material-symbols:bookmark-check"/><span
                style="text-decoration:underline;">Высокие показатели</span>– свыше 94% выигранных судебных дел.
            </span>
        </p>

        <p>
            <span style="font-size:14pt;"><Icon name="material-symbols:bookmark-check"/><span
                style="text-decoration:underline;">Отзывчивая команда юристов</span>– специалисты со стажем от 15 лет и более.
            </span>
        </p>

        <p><span style="font-size:14pt;">
            <Icon name="material-symbols:bookmark-check"/>
            <span
                style="text-decoration:underline;">Низкая стоимость услуг юриста</span> – минус 15-20% от средних
            рыночных расценок.
            </span>
        </p>

        <p><span style="font-size:14pt;">
            <Icon name="material-symbols:bookmark-check"/>
            <span style="text-decoration:underline;">Абонентское юридическое обслуживание</span> – предусмотрен комплексный уровень обслуживания.</span>
        </p>

        <hr>
        <p style="line-height: 2;"><span style="font-size:13pt;"><span><em>Вы обратились к юристам – вы защищены законом! Ответственность нашей компании четко регламентирована Федеральными законами «О защите прав потребителей», «Об адвокатской деятельности и адвокатуре в Российской Федерации», Гражданским Кодексом РФ (ст. 1064).</em></span></span>
        </p>

        <p style="line-height: 2;"><span style="font-size:13pt;"><span><em>На сайте нашей юридической компании&nbsp;вы можете ознакомиться с&nbsp;полным&nbsp;спектром консультационной и практической правовой поддержки. </em></span></span>
        </p>

        <p style="line-height: 2;"><span style="font-size:13pt;"><span><em>Мы всегда приветствуем и советуем комплексный подход, который выражается в возможности абонентского юридического обслуживания.&nbsp;</em></span></span>
        </p>

        <p style="text-align: center;"><span style="font-size: 11pt;"><em><strong>Мы занимаемся своим делом для вашего блага. Есть юридическая проблема? </strong></em></span>
        </p>

        <p style="text-align: center;"><span style="font-size: 11pt;"><em><strong><a
        >Обращайтесь сейчас!</a></strong></em></span></p>
      </div>
    </div>


    <div class="documents-block-wrapper">
      <div class="documents-block">
        <div class="maintitle">Лицензии и сертификаты</div>

      </div>
    </div>
  </div>
</template>

<style scoped>

</style>